a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  margin-right: 50px;
}

body {
  background-color: #EAE8FF;
  color: #7776BC;
  font-family: 'Source Code Pro', monospace;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  text-align: start;
}

.navbar {
  background-color: #ffffff;
}

.logo {
  margin-left: 100px;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.containerExample {
  margin-top: 50px;
}

.card {
  margin-top: 50px;
}
