a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  margin-right: 50px;
}

body {
  background-color: #EAE8FF;
  color: #7776BC;
  font-family: 'Source Code Pro', monospace;
}

.achivka {
  transition: all .2s ease-in-out;
}

.achivka:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.avatar:hover {
  box-shadow:
  1px 1px #7776BC,
  2px 2px #7776BC,
  3px 3px #7776BC,
  4px 4px #7776BC,
  5px 5px #7776BC,
  6px 6px #7776BC,
  7px 7px #7776BC;
-webkit-transform: translateX(-7px);
transform: translateX(-7px);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  text-align: start;
}

.navbar {
  background-color: #ffffff;
}

#logo {
  margin-left: 100px;
}

.container {
  margin-top: 30px;
  text-align: center;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

#icon:hover {
  opacity: .5;
  transform: scale(1.2);
} 

.btn:hover {
  transform: scale(1.2);
  pointer-events: all;
}
