a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  margin-right: 50px;
}

body {
  background-color: #EAE8FF;
  color: #FF674D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background-color: #ffffff;
}

/* .registerBtn {
  margin-right: 20px;
}

.navbar-nav {
  margin-left: 1200px;
} */

.logo {
  margin-left: 100px;
}
